{#=====================================================
  Clients list
  -copied from flask-intro list things
  -uses overflow auto (from css)
=====================================================#}
{% extends 'pages/base.jinja' %}

{% block title %}Clients{% endblock %}

{% block content %}

  <h1>Clients</h1>

  <p><a role="button" href="/clients/new">Add Client</a></p>

  <div class="overflow-auto">

    <ul>
      {% for client in clients %}
        <li>#{{ client.id }} — {{ client.name }} — {{ client.phone }} — {{ client.email }} — {{ client.status }} — {{ client.notes }}</li>
      {% else %}
        <li>No clients yet.</li>
      {% endfor %}
    </ul>

  </div>
  
{% endblock %}