{#=====================================================
  Clients list page
  - Lists clients passed in as 'clients'
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}Clients{% endblock %}

{% block content %}

<div class="container"> {#Picocss Container#}

  <h1>Clients</h1>

  <div class="overflow-auto">  {#Picocss Overflow auto#}

    <table class="striped">  {#Picocss Table#}

      <thead>
      
        <tr>

          <th>Name</th>

          <th>Phone</th>

          <th>Email</th>

          <th>Status</th>

          <th>Notes</th>

        </tr>

      </thead>

      <tbody>

        {% if clients and clients|length %}

          {% for c in clients %} {# c in clients simply means we are going through each client in the list one by one #}

          <tr>

            <td>{{ c.name }}</td>

            <td>{{ c.phone }}</td>

            <td>{{ c.email }}</td>

            <td>{{ c.status }}</td>

            <td>{{ c.notes }}</td>

          </tr>

          {% endfor %}

        {% else %}

          <tr><td colspan="5"><em>You have no clients!</em></td></tr>

        {% endif %}

      </tbody>

    </table>

  </div>

  <p style="margin-top:1rem;">

    <a role="button" href="/clients/new">Add client</a>  {#Picocss Button#}

  </p>

</div>

{% endblock %}