{#=====================================================
  Follow-ups list page (placeholder as code is not yet made- stops crashes)
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}Follow-ups{% endblock %}

{% block content %}

<div class="container">

  <h1>Follow-ups</h1>

  <p>Follow-ups form is still in progress.</p>
  
</div>

{% endblock %}
