{#=====================================================
  New Meeting form
  - copied from 'add thing' page in flask-turso-intro
  - select client is pico (uses their name instead of 
    SQL NO.)
  - Canceling sends you to follow-ups instead 
    of meetings
=====================================================#}
{% extends 'pages/base.jinja' %}

{% block title %}New Meeting{% endblock %}

{% block content %}

  <h1>New Meeting</h1>

  <article>

    <form action="/meetings/new" method="POST">

      <label>
        Client
        <select name="client_id" required>
        
          <option disabled selected value="">Select a client</option>

          {% for client in clients %}
            <option value="{{ client.id }}">{{ client.name }}</option>
          {% endfor %}

        </select>

      </label>

      <label>
      
    Priority
  <select name="priority">
    <option value="">choose priority (1 = most important)</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

</label>

      <label>
        Date
        <input type="date" name="date" required>
      </label>

      <label>
        Time
        <input type="time" name="time" required>
      </label>

      <label>
        Meeting type
        <select name="type">
          <option value="">type</option>
          <option value="initial">initial</option>
          <option value="follow-up">follow-up</option>
          <option value="catchup">catchup</option>
          <option value="call">call</option>
          <option value="zoom">zoom</option>
        </select>
      </label>

      <input type="text"   name="location" placeholder="Location or 'Phone'">
      <textarea name="notes" placeholder="Notes"></textarea>

      <button type="submit">Schedule</button>

      <a role="button" href="/follow-ups">Cancel</a>

    </form>

  </article>
  
{% endblock %}