{#=====================================================
  meetingss list page
  - List of meetingss passed in as 'meetingss' array
  - Form for adding a new meetings
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All meetingss

{% endblock %}


{% block content %}

    <h1>meetingss...</h1>


    <article>

        <ul>
            {% for meetings in meetingss %}

                <li>
                    <a href="/meetings/{{ meetings.id }}">
                        {{ meetings.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New meetings...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new meetings"
                required
            >

            <input
                type="number"
                name="price"
                min="0"
                placeholder="Price in dollars"
                required
            >

            <button>Add the meetings</button>

        </form>

    </article>

{% endblock %}

