
/*=====================================================
    Centering
=====================================================*/

/*
    Centers the page routes
*/
nav {
  justify-content: center;
}

h1 {
  text-align: center;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

/*
    Centers the pico cards
*/
.list-cards { 
  max-width: 640px;   
  margin: 0 auto;    
  padding: 0;        
}

.list-cards li { 
  list-style: none;   
  margin: 0.75rem 0;
}

.list-cards li article { padding: 1rem; }

/*
    Centers the total counts and recent clients
*/

p {
  text-align: center;           
}

h2 {
  text-align: center;  
}

/*
    Centers meetings page 
*/

article {
  max-width: 640px; 
  margin: 0 auto;     
}

/*
    Dark color theme
*/



/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

